
$color-primary: #289672;
$color-primary-light: #29BB89;
$color-primary-dark: #1E6F5C;

$color-secondary-light: #E6DD3B;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2:rgb(12, 12, 12);
$color-grey-dark-3:#333;
$color-white: #fff;
$color-dark: #000;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
$shadoow-light: 0 2rem 5rem rgba(0,0,0,.06);